<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Team Manager</title>
    {{!-- <link rel="stylesheet" href="./node_modules/nes.css/css/nes.min.css"> --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script defer src=" https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script defer src="/js/script.js">
    </script>
</head>

<body>
    {{{ body }}}
</body>

</html>