<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Team Manager</title>
    <link rel="icon" href="/images/pokeball.png">
    {{!-- <link rel="stylesheet" href="./node_modules/nes.css/css/nes.min.css"> --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <script defer src=" https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script defer src="/js/script.js">
    </script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <nav class="navbar has-background-dark" role="navigation" aria-label="main navigation" id="top-nav">
  <img class="navbar-brand">
  <a class="navbar-item has-text-white" href="/">
    Pokemon Team Manager
    <img src="../images/pokeball.png">
  </a>
  <a id="burger-menu" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
    data-target="navbarBasicExample">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
  </img>
  <div class="navbar-end">
    <div class="navbar-item has-dropdown is-hoverable">
     <a class="navbar-link has-text-light is-size-4">
      Team Management Options
    </a>

    <div class="navbar-dropdown">
      <a href="/addTeam" class="navbar-item has-text-dark is-size-4 NavLink">
      Add New Team
    </a>
    <a href="/addPokemon" class="navbar-item has-text-dark is-size-4 NavLink">
      Add New Pokemon
    </a>
    <a href="/viewAllPokemon" class="navbar-item has-text-dark is-size-4">
      View All Pokemon
    </a>
    </div>
  </div>
  </div>
</nav>

{{{ body }}}

<footer class="footer has-background-dark">
  <div class="content has-text-centered">
    <p id="footerText">
      A PCRTJ Production 😀
    </p>
  </div>
</footer>
</body>

</html>