  <div class="block">
      <form>
        <div class="field">
          <label class="label">Team Name</label>
          <input type="text" class="input" placeholder="Enter a Team Name">
        </div>
      </form>
    </div>