<label class="container">
  <form class="viewPokemon">
    <label class="field">
      <label class="label viewPokemon">{{teamName}}</label>
      <input type="text" class="input teamName" placeholder="{{teamName}}">
    </label>

    <div class="control">
      <button class="button is-primary saveTeam" data-id={{id}}>Submit</button>
    </div>
  </form>
</label>