  <nav class="navbar has-background-dark" role="navigation" aria-label="main navigation" id="top-nav">
    <div class="navbar-brand">
        <a class="navbar-item has-text-white"> 
        Pokemon Team Manager
      <img src="../images/pokeball.png">
    </a>
      <a id="burger-menu" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-end">
      <a href="/Team Manager" class="navbar-item has-text-light is-size-4" id="NavLink"> 
          Old Team Manager
      </a>
      <a href="/Pokemon Manager" class="navbar-item has-text-light is-size-4" id="NavLink"> 
          Add Pokemon
      </a>
      <a href="/addTeam" class="navbar-item has-text-light is-size-4 NavLink">
          Add Team
      </a>
    </div>
    </div>
  </nav>

<div class="container">
    <h1>Team 1</h1>
  <table class="table is-bordered">
    <thead>
      <tr>
        <th>Sprite</th>
        <th>Pokemon</th>
        <th>PokeDex ID</th>
        <th>Type 1</th>
        <th>Type 2</th>
        <th>Ability</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Pikachu</td>
        <td>025</td>
        <td>Electric</td>
        <td>N/A</td>
        <td>Static</td>
      </tr>
      <tr>
      <td>Bulbasaur</td>
        <td>001</td>
        <td>Grass</td>
        <td>Poison</td>
        <td>Overgrow</td>  
      </tr>
      <tr>
        <td>Arceus</td>
        <td>493</td>
        <td>Normal</td>
        <td>N/A</td>
        <td>Multitype</td>  
      </tr>
      <tr>
        <td>Ho-Oh</td>
        <td>250</td>
        <td>Fire</td>
        <td>Flying</td>
        <td>Pressure</td> 
      </tr>
    </tbody>
  </table>
</div>

