<nav class="navbar has-background-dark" role="navigation" aria-label="main navigation" id="top-nav">
  <div class="navbar-brand">
    <a class="navbar-item has-text-white"> 
        Pokemon Manager
      <img src="../images/pokeball.png">
    </a>
    <a id="burger-menu" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-end">
    <a href="/Team Manager" class="navbar-item has-text-light is-size-4" id="NavLink"> 
    Team Manager
    </a>
    <a href="/" class="navbar-item has-text-light is-size-4" id="NavLink">
    Home Page
    </a>
  </div>
</nav>

<label class="container">
  <form>
    <label class="field">
      <label class="label">Pokemon Name or ID</label>
      <input type="text" class="input createPokemon" placeholder="Enter Name">
    </label>

    {{!-- <label class="field">
      <label class="label">Pokemon ID</label>
      <input type="text" class="input is-success" placeholder="Enter ID">
    </label> --}}

    {{!-- <div class="field">
      <label class="label">Nickname</label>
      <input type="text" class="input is-danger" placeholder="Enter Nickname">
    </div> --}}

    <div class="control">
      <button class="button is-primary">Submit</button>
    </div>
  </form>
</label>
{{!-- Found out we can add scripts to these --}}
<script>
  $(document).ready(function(){
    $('form').on('submit', function(event){
      event.preventDefault();
      var name = $('input').val().toLowerCase();
      queryurl = 'https://pokeapi.co/api/v2/pokemon/' + name;
      $.get(queryurl, function(data){
        console.log(data);
      })
    })
  })
</script>