h1 {
  color: red;
  border: black;
  background-color: white;
  contain: inherit;
  /* width: fit-content; */
  padding: 10px;
  text-align: center;
}

body {
  background-image: url("https://st2.depositphotos.com/3213441/12022/v/950/depositphotos_120226446-stock-illustration-pokemon-go-pokeball-seamless-texture.jpg");
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.is-child.is-primary > button {
  width: 100%;
}

.footer {
  padding: 15px;
  height: 50px;
}
